.top-container{
  background-color: #dbe2ef;
  padding-top: 100px;
  position: relative;
}

h1{
  margin-left: 0px;
  margin-top:0px;
  margin-bottom: 0px;
}
 body{
   margin: 0px;
   text-align: center;
 }

 .pro{
   text-decoration: underline;
 }

.middle-container{
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottom-container{
  height: 200px;
  width: 200px;
  background-color: blue;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
